* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    background-color: #eeeeee;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-family: Varela Round, Tahoma, Helvetica, Verdana, Arial, sans-serif;
}

button {
    background-color: #00e5b0;
    color: #030303;
    padding: 1rem;
    font-weight: bold;
    font-size: 1rem;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #00e5b0;
}

button:hover {
    background-color: #030303;
    color: #fff;
}

/* Navigation */
.nav-container {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    justify-content: space-between;
}

.nav-web {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: Varela Round, Tahoma, Helvetica, Verdana, Arial, sans-serif;
    list-style-type: none;
    padding: 0;
    background-color: #1d1c29;
    box-shadow: 0px 1px 5px rgba(81, 80, 80, 0.7);

}

.nav-container a {
    font-size: 1rem;
    color: #fff;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    border-bottom: solid 3px rgba(0, 0, 0, 0);
}

.nav-container a:hover {
    color: #00e5b0;
    border-bottom: solid 3px #00e5b0;
}

.nav-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#logo img{
    width: 40px;
    height: 40px;
    margin: 0;
}

#logo:hover {
    border-bottom: solid 3px #1d1c29;
}

.search {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #00e5b0;
    padding: 0.5rem;
}

#search-input {
    font-family: Varela Round, Tahoma, Helvetica, Verdana, Arial, sans-serif;
    color: #fff;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0);
    padding: 0.5rem;
    max-width: 12rem;
    height: 1.5rem;
    border: none;
}

#search-input:focus {
    color: #00e5b0;
}

.fa-search {
    color: #fff;
    margin-right: 0.5rem;
}

.user-wrapper {
    align-items: center;
    float: right;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
}

.user-wrapper i {
    color: #fff;
    font-size: 1.25rem;
}

.user-wrapper i:hover {
    color: #00e5b0;
}

.fa-cart-shopping::after {
    content: attr(value);
    font-size: 0.8rem;
    color: #fff;
    background: #1d1c29;
    border: 1px solid #00e5b0;
    border-radius: 50%;
    padding: 4px 6px;
    position: relative;
    opacity: 0.9;
}

.nav-mobile {
    background-color: #1d1c29;
    overflow: hidden;
    position: relative;
    text-align: center;
    display: none;
    font-family: Varela Round, Tahoma, Helvetica, Verdana, Arial, sans-serif;
    box-shadow: 0px 1px 5px rgba(81, 80, 80, 0.7);
}

.nav-mobile #myLinks {
    display: none;
}

.nav-mobile a {
    color: #fff;
    padding: 0.875rem 1rem;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    border-bottom: none;
}

.nav-mobile a.icon {
    background-color: #030303;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.nav-mobile a:hover {
    background-color: #00e5b0;
    color: #030303;
    border-bottom: none;
}

.active {
    background-color: #00e5b0;
    color: #fff;
}

/* Header */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.header img {
    width: 100%;
    max-height: 50rem;
}

.title {
    font-family: Varela Round, Tahoma, Helvetica, Verdana, Arial, sans-serif;
    color: #007459;
    font-size: 2.5rem;
    letter-spacing: 1px;
}

/* Grid Layout */
grid-layout {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    gap: 1rem;
    width: 97%;
    padding: 1rem;
    padding-left: 0;
    box-sizing: border-box;
}

/*About us*/
.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: rgb(182, 182, 182);
    margin: 0;
}

/* Products Section */
.trending-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0.5rem;
    background-color: rgb(196, 255, 242);
}

.products-container {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img-products {
    padding: 1rem;
    border: 3px solid #030303;
    margin: 1rem;
    position: relative;
}

.img-products:hover {
    border: 3px solid #00e5b0;
    transition: 0.5s;
    opacity: 0.6;
}

.img-products img {
    max-width: 16rem;
    height: auto;
}

.overlay {
    color: #030303;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.overlay:hover {
    background-color: #fff;
    transition: 0.5s;
    opacity: 0.85;
}

.description {
    padding: 1rem;
    font-size: 1rem;
}

.price {
    padding-left: 0;
}

.atc-btn,
.rm-btn {
    width: 90%;
    margin-top: 1rem;
    border-radius: 0.25rem;
}

/* Announcements Section */
.announcements {
    background-color: blueviolet;
    padding: 1rem;
    text-align: center;
    font-family: Varela Round, Tahoma, Helvetica, Verdana, Arial, sans-serif;
    color: white;
    font-size: 1.1rem;
}

.announcements img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

/* Icons Section */
.icons-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.container-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.75rem;
    padding: 1rem 0.5rem;
    margin: 1rem 0;
}

.cat-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    width: 10rem;
    height: 10rem;
}

.icon-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 4.375rem;
    width: 4.375rem;
    background-color: #00e5b0;
    border-radius: 50%;
    padding: 0.625rem;
    margin: 0.5rem;
}

.icon-title {
    font-size: 1.2rem;
    font-family: Varela Round, Tahoma, Helvetica, Verdana, Arial, sans-serif;
}

/* Shopping Cart Section */
.summary-shopping-cart {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 95%;
    margin-top: 1rem;
}

.shopping-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: auto;
    border: 2px solid #00e5b0;
    padding: 1rem 0.5rem;
    margin: 1rem auto;
}

.shopping-cart button {
    width: 80%;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.cart-title {
    font-family: Varela Round, Tahoma, Helvetica, Verdana, Arial, sans-serif;
    color: #00e5b0;
    letter-spacing: 1px;
    text-align: center;
}

.cart-prod-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cart-prod {
    padding: 1rem;
    margin: 1rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.75rem;
    border: 1px solid #1d1c29;
}

.cart-prod img {
    max-width: 40%;
    height: auto;
}

.desc-prod {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.75rem;
}

.amount-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #1d1c29;
    font-size: 1.1rem;
    padding: 0.5rem;
}

.cart-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
}

.fa-regular:hover,
.fa-solid:hover {
    color: #00e5b0;
}

/* Order Summary */
.order-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: auto;
    border: 2px solid #00e5b0;
    padding: 1rem 0.5rem;
    margin: 1rem auto;
}

.order-summary-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 0.75rem;
    width: 80%;
}

.order-summary-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
}

.order-summary-row i.fa-solid {
    font-size: 1.1rem;
}

#buttons-column {
    width: 100%;
    gap: 1.5rem;
}

.order-summary-button {
    width: 100%;
    height: 3.5rem;
    font-size: 1.25rem;
    font-family: Varela Round, Tahoma, Helvetica, Verdana, Arial, sans-serif;
    letter-spacing: 1px;
    background-color: #1d1c29;
    color: #fff;
}

.order-summary-button#paypal {
    background: url("../img/PayPal_logo.png") no-repeat 0 0 #1d1c29;
    background-size: 30%;
    background-position: center;
}

.order-summary-button#klarna {
    background: url("../img/Klarna_logo_2.png") no-repeat 0 0 #1d1c29;
    background-size: 30%;
    background-position: center;
}

.order-summary-button#paypal:hover,
.order-summary-button#klarna:hover {
    background-color: #030303;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: #1d1c29;
    font-family: Roboto, Tahoma, Helvetica, Verdana, Arial, sans-serif;
    padding: 1rem;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: #1d1c29;
    color: #fff;
    padding: 1rem;
    align-items: center;
}

.footer-nav-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 22%;
    height: auto;
    margin: 0.5rem;
    padding-top: 0.5rem;
}

.footer-nav-container {
    width: 90%;
}

.footer-nav-container li {
    font-size: 1rem;
    font-family: Roboto, Tahoma, Helvetica, Verdana, Arial, sans-serif;
    list-style-type: none;
    line-height: 1.6;
}

.footer-nav-container a {
    color: #fff;
    text-decoration: none;
}

.footer-nav-container a:hover {
    color: #00e5b0;
}

.li-title {
    color: #00e5b0;
    font-size: 1rem;
    line-height: 1.6;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.social-media a {
    font-size: 2rem;
    padding: 0.3rem;
    color: #fff;
    margin: 0.2rem 1rem;
}

.social-media a:hover {
    color: #00e5b0;
}

.lang-pay {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}

.paying-methods {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.language i,
.paying-methods i {
    font-size: 1.5rem;
    padding: 0.3rem;
    color: #fff;
    margin: 0.2rem;
}

.language i:hover,
.paying-methods i:hover {
    color: #00e5b0;
}

.paying-methods p:hover {
    color: #00e5b0;
    border: 1px solid #00e5b0;
}

.paying-methods p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color: #fff;
    padding: 0.1rem;
    margin: 0.2rem;
    border: 1px solid #fff;
    border-radius: 0.25rem;
}

#subscribe-input {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    font-family: Varela Round, Tahoma, Helvetica, Verdana, Arial, sans-serif;
    font-size: 1rem;
    border: 2px solid #00e5b0;
    padding: 0.6rem;
    margin: 1rem 0;
    max-width: 10rem;
}

#subscribe-btn {
    width: 11.5rem;
    padding: 0.75rem;
    border-radius: 0.25rem;
}

.copyright {
    color: #fff;
    font-family: Varela Round, Tahoma, Helvetica, Verdana, Arial, sans-serif;
    margin: 1rem;
}

/* Responsive Design */
@media only screen and (max-width: 1200px) {
    .nav-mobile {
        display: block;
        padding: 0;
    }

    .nav-web {
        display: none;
        padding: 0;
    }

    #logo img{
        width: 40px;
        height: 40px;
        margin: 0;
    }

    .shopping-cart {
        width: 40%;
    }

    .order-summary {
        width: 40%;
    }
}

@media only screen and (max-width: 1050px) {
    .hero-content-2 {
        padding-left: 3.5rem;
        padding-top: 3.5rem;
    }

    .hero-title {
        font-size: 2rem;
    }

    .hero-title-2 {
        font-size: 2rem;
        margin-bottom: 0.75rem;
    }

    .hero-title-3 {
        font-size: 2rem;
        margin: 4rem 0;
    }

    .hero-desc {
        font-size: 1.5rem;
    }

    .img-products img {
        max-width: 13.5rem;
    }

    button {
        padding: 0.75rem;
        font-size: 0.9rem;
    }

    .description {
        font-size: 0.9rem;
    }

    .order-summary-button {
        height: 3rem;
        font-size: 1.1rem;
    }

    .order-summary-button#paypal {
        background-size: 40%;
    }

    .order-summary-button#klarna {
        background-size: 40%;
    }
}

@media only screen and (max-width: 800px) {
    .header {
        padding: 0.5rem;
    }

    .company-name {
        font-size: 1.5rem;
    }

    .header-spans {
        width: 55%;
    }

    #search-input {
        max-width: 9rem;
    }

    .title {
        font-size: 2rem;
    }

    .hero-btn {
        font-size: 1.1rem;
        width: 10rem;
        padding: 0.75rem;
    }

    .hero-content-2 {
        padding-left: 2.75rem;
        padding-top: 2.75rem;
    }

    .hero-title {
        font-size: 1.8rem;
    }

    .hero-title-2 {
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
    }

    .hero-title-3 {
        font-size: 1.8rem;
        margin: 2.75rem 0;
    }

    .hero-desc {
        font-size: 1.25rem;
    }

    .img-products {
        margin: 0.5rem;
    }

    .img-products img {
        max-width: 10rem;
    }

    .cat-icon {
        width: 7.5rem;
        height: 7.5rem;
    }

    .icon-circle {
        height: 3.65rem;
        width: 3.65rem;
    }

    .icon-title {
        font-size: 1rem;
    }

    footer {
        padding: 0.75rem;
    }

    .footer-menu {
        justify-content: center;
        gap: 0.5rem;
    }

    .footer-nav-column {
        width: 25%;
    }

    #subscribe-btn {
        width: 6rem;
        margin-left: 1rem;
    }

    .subscribe {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 80%;
        padding: 1rem;
    }

    .social-media {
        padding: 0.75rem;
        margin-top: 0;
    }

    .social-media a {
        font-size: 1.7rem;
        margin: 0.2rem 0.75rem;
    }

    .description {
        font-size: 0.8rem;
    }

    .atc-btn,
    .rm-btn {
        margin-top: 0.75rem;
    }

    .cart-prod-container .cart-prod {
        margin: 0.5rem 0;
    }

    #buttons-column {
        gap: 1.2rem;
    }
}

@media only screen and (max-width: 700px) {
    .img-products img {
        max-width: 15rem;
    }

    .description {
        font-size: 0.9rem;
    }

    .atc-btn,
    .rm-btn {
        margin-top: 1rem;
    }

    button {
        padding: 0.75rem;
        font-size: 0.9rem;
    }

    .summary-shopping-cart {
        flex-direction: column;
        align-items: center;
        width: 95%;
    }

    .shopping-cart {
        width: 60%;
    }

    .order-summary {
        width: 60%;
    }
}

@media only screen and (max-width: 600px) {
    .header {
        flex-direction: column;
        padding: 0;
    }

    .company-name {
        margin: 1rem;
    }

    .header-spans {
        width: 90%;
    }

    .title {
        font-size: 1.8rem;
    }

    .hero-content {
        padding-left: 2rem;
        padding-top: 2rem;
    }

    .hero-title {
        font-size: 1.6rem;
        padding: 0 0.5rem;
    }

    .hero-title-2 {
        font-size: 1.6rem;
        margin-bottom: 0.35rem;
    }

    .hero-title-3 {
        font-size: 1.6rem;
        margin: 1.3rem 0;
    }

    .hero-content-2 {
        padding-left: 1.5rem;
        padding-top: 1.5rem;
    }

    .hero-desc {
        font-size: 1rem;
    }

    .hero-btn {
        font-size: 1rem;
        width: 8rem;
        padding: 0.6rem;
    }

    .icon-circle {
        height: 3.5rem;
        width: 3.5rem;
    }

    .icon-title {
        font-size: 0.9rem;
    }

    footer {
        padding: 0.5rem;
    }

    .paying-methods {
        justify-content: center;
    }

    .shopping-cart {
        width: 80%;
    }

    .order-summary {
        width: 80%;
    }
}

@media only screen and (max-width: 450px) {
    .header {
        padding: 0.5rem 0;
    }

    #search-input {
        max-width: 8rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .hero-content {
        padding-left: 1rem;
        padding-top: 1rem;
    }

    .hero-content-2 {
        padding-left: 1rem;
        padding-top: 1rem;
    }

    .hero-teatle {
        font-size: 1.2rem;
    }

    .hero-title-2 {
        font-size: 1rem;
        margin-bottom: 0;
    }

    .hero-title-3 {
        font-size: 1.2rem;
        margin: 1rem 0;
    }

    .hero-desc {
        font-size: 0.9rem;
    }

    .hero-btn {
        width: 6rem;
        padding: 0.3rem;
    }

    .products-section {
        padding: 0;
    }

    .products-container {
        flex-direction: column;
        padding: 0;
    }

    .container-icons {
        gap: 1rem;
    }

    .icon-circle {
        height: 3.25rem;
        width: 3.25rem;
    }

    footer {
        padding: 0;
    }

    .footer-menu {
        padding: 0;
    }

    .footer-nav-container li {
        font-size: 0.9rem;
        line-height: 1.5;
    }

    .footer-nav-container {
        width: 100%;
        padding: 0.5rem;
    }

    .subscribe p {
        font-size: 0.9rem;
        max-width: 90%;
    }

    #subscribe-input {
        font-size: 0.9rem;
        max-width: 7rem;
    }

    .footer-nav-column {
        margin: 0.5rem;
    }

    .shopping-cart {
        width: 90%;
    }

    .order-summary {
        width: 90%;
    }
}

@media only screen and (max-width: 350px) {
    .hero-content-2 {
        padding-left: 0.8rem;
        padding-top: 0.8rem;
    }

    .hero-teatle,
    .hero-teatle-2 {
        font-size: 1rem;
    }

    .hero-title-3 {
        font-size: 1rem;
        margin: 1rem 0;
    }

    .hero-desc {
        font-size: 0.75rem;
    }

    .header-spans {
        flex-direction: column;
    }

    #search-input {
        max-width: 10rem;
    }

    .user-wrapper i {
        margin: 1rem 0 0;
    }

    .subscribe {
        width: 90%;
        padding: 0.75rem;
    }

    .desc-prod {
        gap: 0.5rem;
    }
}